@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Manrope', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-content: center;
    background-color: hsl(218, 23%, 16%);
    padding: 30px;
    overflow: hidden;
}

.advice-container{
    max-width: 500px;
    width: 100%;
    min-height: 100px;
    height: 100%;
    border-radius: 12px;
    background-color: #323a49;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 20px;
}

.fetched-advice-container{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.advice-id{
    text-transform: uppercase;
    font-weight: 600;
    font-size: .6rem;
    letter-spacing: 2px;
    color: hsl(150, 100%, 66%);
}

.advice-display{
    font-size: 26px;
    font-weight: 800;
    color: #cee3e9;
    margin-top: 30px;
    word-wrap: break-word;
    line-height: 1.5;
}

.fetched-advice-container{
    padding: 20px;
    padding-bottom: 40px;
}

.divider{
    margin-bottom: 44px;
    width: 100%;
    height: 16px;
    background-image: url(./images/pattern-divider-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.advice-generator-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: -32px;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
    transition: all .30s ease-in-out;
}

.advice-generator-btn:hover{
    box-shadow: 0px 0px 25px 0px hsl(150, 100%, 66%);
}

.advice-generator-btn span{
    display: flex;
}

.loader{
    max-width: 400px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loader-bg{
    background-image: linear-gradient(to right, #4e5d73 0%,
    #6c7a8f 10%,  #4e5d73 20%,  #4e5d73 100%);
    background-size: 200% 100%;
    animation: loaderpos 1s linear infinite;
}

.loader-bg-text{
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 26px;
    width: 400px;
    margin-bottom: 10px;
}

.loader-bg-text:last-child{
    margin-bottom: 0;
}

@keyframes loaderpos {
    0% {
        background-position: 50% 0%;
    }
    100% {
        background-position: -150% 0%;
    }
}

@media screen and (max-width: 480px){
    .advice-container{
        max-width: 400px;
    }

    .advice-display{
        font-size: 24px;
    }
}